@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
:root {
  --primary-color: #98c353;
  --primary-color-light: #d4ebb0;
  --secondary-color: #e5e8d5;
  --text-dark: #020617;
  --text-light: #000000;
  --white: #ffffff;
  --max-width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans Thai', sans-serif;
}
.container {
  min-height: 100vh;
  padding-inline: 1rem;
  display: grid;
  overflow: hidden;
}
.containerContent {
  width: 100%;
  padding-block: 2rem;
  max-width: 400px;
  margin-inline: auto;
}
.containerContent h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}
.containerContent h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-dark);
}
.containerContent form {
  display: grid;
  gap: 5px;
}
.containerContent label {
  font-size: 1rem;
  color: var(--text-dark);
}
.inputRow {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #e5e6dc;
  border-radius: 5px;
   box-shadow: 0 4px 8px rgba(39, 39, 39, 0.5); /*เพิ่มเงาดำ ๆ ของขนาด 20px */
}
.containerContent input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: transparent;
}
.containerContent input::placeholder {
  color: var(--text-dark);
}
#password-eye {
  color: var(--primary-color);
}
.inputFP {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.inputFP a {
  font-size: 0.9rem;
  color: var(--text-light);
  text-decoration: none;
  transition: 0.3s;
}
.inputFP a:hover {
  color: var(--text-dark);
}
.containerContent button {
  max-width: 80%;
  margin-left: 10%;
  margin-block: 1rem 2rem;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #000000;
  background-color: var(--primary-color);
  border-radius: 5rem;
}
.containerContent button:hover {
  background-color: var(--primary-color-light);
}
.containerContent h6 {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-dark);
  text-align: center;
}
.logins {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logins a {
  padding: 0.5rem 2.5rem;
  border: 2px solid var(--text-dark);
  border-radius: 5rem;
}
.logins a:hover {
  background: var(--secondary-color);
  border: 2px solid var(--primary-color);
}
.logins img {
  display: flex;
  max-width: 20px;
}
.containerContent p {
  color: var(--text-light);
  text-align: center;
}
.containerContent p a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
}
.containerImg {
  position: relative;
  isolation: isolate;
  display: grid;
}
.containerImg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 10rem;
  height: 100%;
  width: 100vw;
  background-color: #a8ac8e;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* เพิ่มเงาดำ ๆ ของขนาด 20px */
}
.containerImg img {
  width: 100%;
  max-width: 600px;
  align-self: flex-end;
 /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); เพิ่มเงา */
}
@media (width > 768px) {
  .container {
    grid-template-columns:
      minmax(1rem, 1fr) minmax(0, calc(var(--max-width) / 2)) minmax(0, calc(var(--max-width) / 2)) minmax(1rem, 1fr);
  }
  .containerContent {
    margin-inline-start: unset;
    grid-area: 1/2/2/3;
    align-self: center;
  }
  .containerImg {
    padding-block: 2rem;
    grid-area: 1/3/2/4;
  }
}

.invalid-feedback {
  display: none; /* ซ่อนข้อความเริ่มต้น */
  color: red; /* กำหนดสีข้อความเป็นสีแดง */
}

input:invalid + .invalid-feedback {
  display: block; /* แสดงข้อความเมื่อ input ไม่ถูกต้อง */
}